- title "Indiegogo Partner Contribute", false

%div#message

%script{id: 'indiegogo-widget', src: "http://giwi.indiegogo.com/assets/widgets.js?widgethost=giwi.indiegogo.com&project_id=763972&widget_type=narrow&igg_header=false&access_token=d7d61c1e608f1e40c6f7dc0efc4b018a", type: 'text/javascript' }
