/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.logo-main {
float: left;
margin: 12px 0 4px 0;
font-size: 18px;
line-height: 20px;
height: 55px;
width: 200px;
display: block;
background: asset-url('sprite-home.png') 0 0 no-repeat;
}
.navbar-brand {
margin: 10px 10px 0px 45px;
}
.c-name {
	font-size: 24px;
	color: #333;
}
.c-location {
	color: #B1B3B6;
}
.c-location2 {
	color: #858686;
	text-transform: uppercase;
}
.c-funds {
	text-align: right;
	border-bottom: solid 4px #EEEEEE;
}
.c-funds-goal {
	display: inline-block;
	padding:10px 40px;
	font-size: 60px;
	color: #BEC0C2;
}
.c-funds-raised {
	display: inline-block;
	padding:10px 40px;
	font-size: 60px;
	color: #00d6ea;
}
.c-graphs {
	text-align: center;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 45px;
	}
}
body { font-family: 'Abel', sans-serif; font-size: 18px; }
.navbar-default .navbar-nav > li > a {
	padding: 24px;
	font-size: 20px;
}
.c-main {
	padding-bottom: 200px;
}
.btn-primary {
	background-color: #19BE02;
	border: 0;
}
.btn-primary:hover {
	background-color: #16A202;
	border: 0;
}
.p-info {
	margin: 50px auto;
	padding: 0 30px;
	text-align: center;
}
.p-info p, .p-info ul {
	text-align: left;
	color: #838383;
}
.heavy {
	display: block;
	margin-bottom: 14px;
	font-size: 22px;
	font-weight: bold;
	color: #000;
}
.heavy2 {
	display: block;
	margin-bottom: 14px;
	font-size: 28px;
	font-weight: bold;
	color: #000;
}
.img-bg {
	width: 80%;
}
footer {
	background: #91a0a7;
	padding: 20px 0 10px 0;
	margin-top: 60px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	}
@media (max-width: 899px) {
	footer {
		position: relative;
		display: block;
	}
}
footer .navbar-nav {
	margin-top: 0px;
	}
footer .navbar-nav>li>a {
color: #fff;
}
footer .navbar-nav>li>a:hover {
color: #666565;
background-color: transparent;
}
.footer-social {
	margin: 0px;
	}
.footer-social ul>li {
float: left;
padding: 0px;
display: block;
}
.footer-social ul>li>a {
background-image: asset-url('sprite-home.png') 0 0 no-repeat;
background-repeat: none;
background-color: transparent;
color: #fff;
opacity: 0.5;
display: block;
width: 40px;
height: 40px;
}
.footer-social ul>li>a:hover { opacity: 1; }
.f-facebook { background-position: -3px -356px; }
.f-linkedin { background-position: -43px -356px; }
.f-pinterest { background-position: -83px -356px; }
.f-plus { background-position: -123px -356px; }
.f-twitter { background-position: -163px -356px; }
.footer-logo {
height: 55px;
width: 200px;
margin: 16px 0 10px 0;
display: inline-block;
background: asset-url('sprite-home.png') no-repeat 0 -72px;
}
.footer-copy {
    color: #cdd8dd;
	font-size: 14px;
    }
.footer-info { text-align: right; }
.sub-title { font-size: 30px; }
