#navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li{class: is_active_link?(root_path, :inclusive) ? 'active' : nil}
      = active_link_to root_path, active: ["public"] do
        %span.glyphicon.glyphicon-home
        Home

  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to '#', title: 'New Campaign' do
        %span.glyphicon.glyphicon-plus
